<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/common.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="login-box">
      <form class="login-form" action="/login" method="POST">
        <div>
          <label>Username:</label>
          <input placeholder="Username" class="textbox" type="text" name="username" />
        </div>
        <div>
          <label>Password:</label>
          <input placeholder="Password" class="textbox" type="password" name="password" />
        </div>
        <div>
          <input class="login-btn" type="submit" value="Log In" />
        </div>
      </form>
    </div>
  </body>
</html>
